@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Not Found */
.not__found--container,
.loading__container {
  font-family: 'montserrat', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}

.not__found--content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}
.not__found--content h1 {
  font-weight: 900;
  letter-spacing: 20px;
  background: url('/images/bg.jpg') center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Not Found */

/* Loading */

.loading__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.loading__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.5rem;
  animation: loading 0.5s linear infinite alternate;
}

.loading__dot:nth-child(1) {
  animation-delay: 0.1s;
}

.loading__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading__dot:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

/* Loading */

.balance {
  text-wrap: balance;
}

.bg-hero {
  background: rgba(0 0 0/0.8) url('/images/bg-hero.png') no-repeat center center;
  background-size: 100vw 100vh;
  height: 100vh;
}

.navigation {
  position: relative;
  z-index: 1000;
  width: 3rem;
}
.navigation__background {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  margin-top: -1.55rem;
  transition: 0.5s;
  background-image: radial-gradient(#b5f93e, #c6fc50);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__button {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.navigation__checkbox {
  display: none;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__item {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    rgba(84, 137, 5, 0.2) 50%
  );
  margin: 0 auto;
  background-size: 220%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}

.navigation__item:hover,
.navigation__item:active {
  background-position: 100%;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  width: 100%;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90);
}

.navigation__item:nth-child(1) {
  transition-delay: 0.1s;
}

.navigation__item:nth-child(2) {
  transition-delay: 0.2s;
}

.navigation__item:nth-child(3) {
  transition-delay: 0.3s;
}

.navigation__item:nth-child(4) {
  transition-delay: 0.4s;
}

.navigation__item:nth-child(5) {
  transition-delay: 0.5s;
}

.navigation__item:nth-child(6) {
  transition-delay: 0.6s;
}

.navigation__icon {
  position: relative;
  width: 1.5rem;
  height: 2px;
  background-color: #222;
  display: inline-block;
  transition: all 0.2s;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  background-color: #222;
  width: 1.5rem;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.4rem;
  transition: 0.5s;
}

.navigation__icon::after {
  top: 0.4rem;
  transition: 0.5s;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.5rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.bg__about {
  background: #000 url('/images/swirl-bg.png');
  background-repeat: no-repeat;
  background-size: 516.999px 345.999px;
  background-position: center;
}

.bg__featured {
  background: #000 url('/images/top.png');
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: bottom -44px right -60px;
}

.bg__services {
  background: #000 url('/images/down.png');
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: top -76px right -38px;
}

.bg__product--design {
  background: url('/images/product.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg__product--design-overlay {
  background: rgba(0 0 0/0.8) url('/images/product.jpg');
  background-repeat: no-repeat;
  background-size: 1320px 874px;
  background-position: center;
}

.bg__web--design {
  background: url('/images/webdev-2.jpeg') no-repeat center center/cover;
}

.bg__web--design-overlay {
  background: rgba(0 0 0/0.8) url('/images/webdev.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Oghor Design */
.bottom-sections {
  background: url('/images/ring-bg.png'), url('/images/drop-bg.png');
  background-repeat: no-repeat;
  background-position: top 28% right, bottom 33% right;
  background-size: 35%, 30%;
  background-color: black;
}

.blog-section-1 {
height: fit-content;}

.blogs{
  height: 100%;
}

.blog-section  .blog-item:nth-of-type(odd) {
  margin-left: auto;
}

.blog-section .blog-section-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blog-section .blog-item {
  display: flex;
  column-gap: 24px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.blog-section .blog-info {
  margin-top: auto;
  row-gap: 24px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.blog-section .blog-cat {
  display: flex;
  column-gap: 8px;
  :nth-child(n) {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
  }
  :nth-child(1) {
    color: #06102b;
    background: #e8edfb;
  }
  :nth-child(2) {
    color: #064e3b;
    background: #ecfdf5;
  }
  :nth-child(3) {
    color: #78350f;
    background: #fffbeb;
  }
}

.blog-section .blog-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  width: 231px;
}

.blog-section .blog-link {
  width: fit-content;
  padding-left: 0;
}

.cta-section {
  background: url('/images/swirl-bg.png') no-repeat center center;
  background-size: 30%;
}

.cta-section .cta-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-section .footer, .cta-section .cta{
  width: 100%;
  height: 90%;
}
.cta-section h1 {
  margin-bottom: 40px;
  color: #9e9e9e;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: normal;
  text-align: center;
}

.italics {
  font-style: italic;
  color: #fff;
  font-family: Libre Caslon Condensed;
  text-transform: lowercase;
}
.cta-section strong {
  color: #fff;
}

.cta-section button {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer-section {
  background: url('/images/footer.png') no-repeat;
  background-position: bottom left;
  background-size: 30%;
}

.footer-section section, .footer{
  width: 100%;
}


.footer-section .footer-title {
  /* margin-left: 300px; */
  margin-left: 25%;
  font-family: Instrument Sans;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
}

.footer-section .tab-space {
  padding-left: 100px;
}
.footer-section .footer-content {
  width: 100%;
  display: flex;
}
.footer-section .help-text {
  font-size: 20px;
  text-transform: capitalize;
  margin: 79px 0 135px;
}

.footer-section .footer-info {
  margin-left: 43%;
}
.footer-section .button {
  height: fit-content;
  margin-top: 23%;
  visibility:visible;
}

.footer-section .mobile-button {
  display: none;
}

.footer-section .footer-lists {
  display: flex;
  justify-content: space-between;
}

.footer-section .footer-lists ul {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  :first-child {
    color: #9e9e9e;
    font-size: 16px;
    font-weight: 400;
  }
  :last-child {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .bottom-sections {
    background-size: 50%, 50%;
    background-position: top 32% right, bottom 33% right;
  } 

  .blog-section .blog-item{
    margin: auto;
    margin-bottom: 30px;
    justify-content: center;
  }
   .blog-section .blog-item:nth-child(1){
      margin-top: 80px;
    }
 
  .footer-section .footer-title, .cta-section h1 {
    font-size: 30px;
    text-align: center;
  }

  .cta-section {
    background-size: 50%;
  }
  .footer-section .footer-title {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer-section .help-text {
  margin: 59px 0 80px;
}

  .footer-section .footer-content {
    justify-content: center;
    align-items: center;
  }

  .footer-section .footer-info {
    margin-left: 0;
  }
  .footer-section .button {
    display: none;
}

.footer-section .mobile-button {
  /* display: block; */
  display: flex;
  margin-bottom: 50px;
  width: 100%;
 
}
  .footer-section .footer-content{
    flex-direction: column;
  }

}

  
@media screen and (max-width: 680px) {
  
  .cta-section {
    background-size: 50%;
  }
  
}

@media screen and (max-width: 630px) {
  .bottom-sections {
    background-size: 50%, 50%;
    background-position: top 42% right, bottom 750px right;
  }

  .footer-section .footer-title, .cta-section h1 {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .bottom-sections {
    background-size: 60%, 50%;
    background-position: top 44% right, bottom 750px right;
  }
  .blog-img{
    width: 100%;
  }
}
/* Oghor Design */
