@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-hero {
  background: rgba(0 0 0/0.8) url('/images/bg-hero.png') no-repeat center center;
  background-size: 100vw 100vh;
}

.navigation__background {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  margin-top: -1.5rem;
  /* position: fixed;
  top: 6.5rem;
  right: 6.5rem; */
  background-image: radial-gradient(#b5f93e, #c6fc50);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__button {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  top: 0.5rem;
  right: -0.72rem;
  cursor: pointer;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.navigation__checkbox {
  display: none;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__item {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    rgba(84, 137, 5, 0.2) 50%
  );
  margin: 0 auto;
  background-size: 220%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  &:hover,
  &:active {
    background-position: 100%;
    transform: translateX(1rem);
  }
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  width: 100%;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90);
}

.navigation__item:nth-child(1) {
  transition-delay: 0.1s;
}

.navigation__item:nth-child(2) {
  transition-delay: 0.2s;
}

.navigation__item:nth-child(3) {
  transition-delay: 0.3s;
}

.navigation__item:nth-child(4) {
  transition-delay: 0.4s;
}

.navigation__item:nth-child(5) {
  transition-delay: 0.5s;
}

.navigation__item:nth-child(6) {
  transition-delay: 0.6s;
}

.navigation__icon {
  position: relative;
  width: 1.5rem;
  height: 2px;
  background-color: #222;
  display: inline-block;
  transition: all 0.2s;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  background-color: #222;
  width: 1.5rem;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.4rem;
  transition: all 0.2s;
}

.navigation__icon::after {
  top: 0.4rem;
  transition: all 0.2s;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.5rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
